<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/players.css" />
</head>
<body>
    <h1>Available Players</h1>
    <div id="filterBar">
        <form id="filterButtons" action="/rosters/filter" method="POST">
            Filter by Position <select name="position">
                <option value="<%=currentPos%>"><%=currentPos%></option>
                <% for (let i=0; i < positions.length; i++) { %>
                    <option value="<%= positions[i] %>"><%= positions[i] %></option>
                <% } %>
            </select>
            Filter by Team <select name="teams">
            <option value="<%=currTeam%>"><%=currTeam%></option>
                <% for (let i=0; i < teams.length; i++) { %>
                    <option value="<%= teams[i] %>"><%= teams[i] %></option>
                <% } %>
            </select>
            <input type="submit" value="Filter">
        </form>
        <form action="/rosters/search" method="GET">
            <input type="submit" value="Search" />
        </form>
    </div>
        
    <div id="playerScroll">
        <table id="playerTable">
            <tr id="playerHeader">
                <th class="name">Player</th>
                <th class="pos">Position</th>
                <th class="team">Team</th>
                <th></th>
            </tr>
            <% for(let i = 0; i < player.length; i++) { %>
                <% if(player[i].roster_id == null || player[i].roster_id == 0) { %>
                    <tr class="playerInfo">
                        <td class="name"><%= player[i].name %></td>
                        <td class="pos"><%= player[i].position %></td>
                        <td class="team"><%= player[i].team %></td>
                        <form action="/rosters/addPlayer/<%=player[i].id%>?_method=PUT" method="POST">
                            <td class="addPlayer"><input  type="submit" value="Add Player" /></td>
                        </form>
                    </tr>
                <% } %>
            <% } %>
        </table> 
    </div>
    
</body>
</html>