<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%=user.name%>'s Roster</h1>
    <% let wrcount = 0 %>
    <% let rbcount = 0 %>
    <% for(let i = 0; i < roster.Players.length; i++) { %>
        <% if(roster.Players[i].position === "QB") { %>
            QB: <%= roster.Players[i].name %><br>
        <% } else if (roster.Players[i].position === "WR") { %>
            <% if (wrcount === 0) { %>
                WR1: <%= roster.Players[i].name %><br>
                <% wrcount++ %>
            <% } else if (wrcount === 1) { %>
                WR2: <%= roster.Players[i].name %><br>
                <% wrcount++ %>
            <% } else if (wrcount === 2 && rbcount < 3) { %>
                FLEX: <%= roster.Players[i].name %><br>
                <% wrcount++ %>
            <% } %>
        <% } else if (roster.Players[i].position === "RB") { %>
            <% if (rbcount === 0) { %>
                RB1: <%= roster.Players[i].name %><br>
                <% rbcount++ %>
            <% } else if (rbcount === 1) { %>
                RB2: <%= roster.Players[i].name %><br>
                <% rbcount++ %>
            <% } else if (rbcount === 2 && wrcount < 3) { %>
                FLEX: <%= roster.Players[i].name %><br>
                <% rbcount++ %>
            <% } %>
        <% } %>
        <form action="/rosters/<%=roster.Players[i].id%>?_method=PUT" method="POST">
            <input type="submit" value="Drop Player" />
        </form>
    <% } %><br><br>
    QB: <%= roster.QB %><br>
    RB1: <%= roster.RB1 %><br>
    RB2: <%= roster.RB2 %><br>
    WR1: <%= roster.WR1 %><br>
    WR2: <%= roster.WR2 %><br>
    FLEX: <%= roster.FLEX %><br>
    DST: <%= roster.DST %><br>
    K: <%= roster.K %><br><br><br>
    <a href="/rosters/availablePlayers">View All Players</a><br><br>
    <a href="/rosters/league">View League</a><br><br>
</body>
</html>