<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%=user.name%>'s Roster</h1>
    QB: <%= roster.QB %><br>
    RB1: <%= roster.RB1 %><br>
    RB2: <%= roster.RB2 %><br>
    WR1: <%= roster.WR1 %><br>
    WR2: <%= roster.WR2 %><br>
    FLEX: <%= roster.FLEX %><br>
    DST: <%= roster.DST %><br>
    K: <%= roster.K %><br><br><br>
    <a href="/rosters/availablePlayers">View All Players</a>
</body>
</html>